@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .logInSec {
    @apply w-full h-full;
  }
  .homeNavItems {
    @apply gap-x-2 flex flex-col items-center;
  }
  .homeNavImg {
    @apply w-6 h-6;
  }
  .desktopMenuDiv {
    @apply hover:bg-blue-300 gap-x-2 border-slate-800 border-opacity-20 flex items-center px-2 py-4 transition-all bg-blue-100 border-b;
  }
  .desktopMenuIcon {
    @apply w-5 h-5;
  }
  .desktopMenuPara {
    @apply text-slate-800 font-bold;
  }
  .linkItems {
    @apply text-slate-700 hover:text-slate-900 font-bold transition-all;
  }
  .contributorProfilePic {
    @apply dark:border-gray-800 w-10 h-10 border-2 border-white rounded-full;
  }
  .taskTitle {
    @apply md:text-xl text-slate-700 my-2 text-lg font-bold capitalize;
  }
  .toTheCenter {
    @apply flex items-center justify-between;
  }
}
