@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .logInSec {
    @apply w-full h-full;
  }
  .homeNavItems {
    @apply gap-x-2 flex flex-col items-center;
  }
  .homeNavImg {
    @apply w-6 h-6;
  }
  .desktopMenuDiv {
    @apply hover:bg-blue-300 gap-x-2 border-slate-800 border-opacity-20 flex items-center px-2 py-4 transition-all bg-blue-100 border-b;
  }
  .desktopMenuIcon {
    @apply w-5 h-5;
  }
  .desktopMenuPara {
    @apply text-slate-800 font-bold;
  }
}
